/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Mochiy+Pop+P+One&family=Open+Sans:wght@400;500;700&display=swap");

/* Global styles - optimized for mobile */
/* Asterisk wildcard selector to override default styles added by the browser */
/* Amended from LoveRunning */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden-heading {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: rgb(27, 1, 37);
  line-height: 1.1rem;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* Top navigation bar styles */
.navBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(243, 206, 250, 0.9);
  padding: 5px 20px;
  box-shadow: 4px 4px 60px rgba(45, 1, 63);
  z-index: 1000;
}

.logo img {
  width: 70px;
  height: auto;
  padding: 0;
}

/* Navbar logo hover effect */
.logo img {
  transition: transform 0.3s ease;
  /* Smooth transition for scaling */
}

.logo img:hover {
  transform: scale(1.05);
  /* Slightly increase size on hover */
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  transition: transform 0.3s;
  padding-bottom: 5px;
}

.menu ul {
  list-style-type: none;
  display: flex;
  letter-spacing: 3px;
  font-weight: 600;
}

/* Styling of the anchor tags in menu */
.menu a {
  text-decoration: none;
  color: #1b0125;
  padding: 5px 20px;
  margin: 5px 0;
  border-radius: 15px;
}

.menu li:hover,
.menu li:focus {
  color: #0000ff;
  transform: scale(1.1);
}

.active {
  background-color: #6f3ff59d;
  color: #1b0125;
  border: 1px ridge #1b0125;
}

body {
  /*background: linear-gradient(#6f3ff59d, #f3cefa 80%);*/
  background: linear-gradient(#f3cefa, #6f3ff59d);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: #1b0125;
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 0px;
  margin: 60px;
}

/* Generic modal in Landing and Form */
.modal {
  /* Hidden by default */
  display: none;
  /* Allows to position modal absolutely within the game board */
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(45, 1, 63, 0.85);
}

/* Footer style */
footer {
  width: 100%;
  text-align: center;
  margin: 60px 0 40px 0;
  color: #2d013f;
  font-weight: 600;
}

#clock {
  background-color: #f3cefa;
  padding: 2px;
  border-radius: 5px;
  margin: 15px;
}

/* LANDING PAGE */
#header section {
  padding: 80px 20px;
}

/* Header styles */
#head-container {
  max-width: 450px;
  width: 95vw;
  margin-top: 0;
  padding: 0px 20px 0;
  text-align: center;
}

#indexTitle {
  font-family: "Mochiy Pop P One", "Open Sans", "sans-serif";
}

/* Style the header paragraph */
#p-head {
  max-width: 450px;
  padding: 20px 10px 10px;
  margin: 30px 0;
  border-radius: 10px;
  background-color: rgba(243, 238, 243, 0.596);
  box-shadow: 4px 4px 60px rgba(45, 1, 63, 0.685);
  font-weight: 600;
  font-size: 0.8rem;
}

#buttonSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* General style for buttons */
.button {
  margin: 0 5px 0;
  background: rgba(45, 1, 63);
  color: #fff;
  padding: 10px 20px;
  border: 1px ridge #8b349c;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 2px #2d013f;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin: 10px 0;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease, border 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
}

/* Gameboard style */
#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  /* Responsive width based on viewport width */
  width: 90vw;
  max-width: 450px;
  /* Maintain square aspect ratio for the board */
  aspect-ratio: 1 / 1;
  margin: 20px;
  /* Allows to position child elements modal absolutely within */
  position: relative;
}

/* Cell style */
.cell {
  background-color: white;
  transition: background-color 0.3s ease;
  border: 0.2px solid rgba(45, 1, 63, 0.365);
  box-shadow: inset 6px 6px 12px rgba(45, 1, 63, 0.753), inset -4px -4px 8px rgba(167, 7, 159, 0.2);
  border-radius: 10px;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Acme", "Open Sans", sans-serif;
  color: #2d013f;
}

/* Activated with a mouse or any mouse-emulating technology *
/* Activated with a keyboard or any keyboard-emulating technology */
.cell:hover,
.cell:focus {
  background-color: #fffb08;
  border: 2px ridge #2d013f;
  transition: background-color 0.3s ease, transform 0.2s ease, border 0.2s ease;
  cursor: pointer;
}

/* Reset button style*/
#toggleButtonreset {
  background: #fffb08;
  color: #1b0125;
}

/* Activated with a mouse or any mouse-emulating technology */
/* Activated with a keyboard or any keyboard-emulating technology */
#toggleButtonreset:hover,
#toggleButtonreset:focus {
  border: 2px ridge #2d013f;
}

/* How to play button style  */
#toggleButtonhowto {
  background: #fff;
  color: #1b0125;
}

/* Activated with a mouse or any mouse-emulating technology */
/* Activated with a keyboard or any keyboard-emulating technology */
#toggleButtonhowto:hover,
#toggleButtonhowto:focus {
  border: 2px ridge #2d013f;
}

/* Center vertical howtoplay button container */
#howtoplay-btn-container {
  display: flex;
  justify-content: center;
}

/* Initially hide the how to play container */
.hidden {
  display: none;
}

/* How to play container */
#howtoplayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  max-width: 90%;
  border-radius: 15px;
  background-color: white;
  box-shadow: 4px 4px 10px 2px #2d013f;
  margin: 30px 30px 15px;
  padding: 20px;
  font-size: 1rem;
}

#howtoplayContainer ul {
  padding-left: 20px;
}

#howtoplayContainer ul li {
  padding-left: 10px;
}

#howtoplayContainer.hidden p {
  padding-top: 20px;
  /* Adjust the value as needed */
  font-weight: 600;
}

/* Result modal content */
.modalResult-content {
  background-color: #fff;
  transition: background-color 0.3s ease;
  /* 15% from the top and centered */
  margin: 80% auto;
  width: 80%;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  padding: 20px 5px;
  border: 0.2px solid rgba(45, 1, 63, 0.365);
  box-shadow: inset 6px 6px 12px rgba(45, 1, 63, 0.753), inset -4px -4px 8px rgba(167, 7, 159, 0.2);
  cursor: pointer;
}

/* The Close Button */
.close-button {
  color: #aaa;
  float: right;
  font-size: 1.7rem;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Center vertical feedback button container */
#feedback-btn-container {
  display: flex;
  justify-content: center;
}

/* Feedback button style */
#toggleButtonfeedb {
  background: #0000ff;
  color: #fff;
}

/* Activated with a mouse or any mouse-emulating technology */
/* Activated with a keyboard or any keyboard-emulating technology */
#toggleButtonfeedb:hover,
#toggleButtonfeedb:focus {
  border: 2px ridge #fff;
}

/* FORM PAGE */
#formBody {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  margin-right: 0 10px 0;
}

/* Form container style */
#formContainer {
  max-width: 295px;
  height: auto;
  padding: 25px 30px;
  margin-top: 0;
  border-radius: 20px;
  background: #f3cefa;
  box-shadow: 20px 20px 40px rgba(45, 1, 36, 0.3), 8px 8px 60px rgba(45, 1, 36, 0.3), inset 4px 4px 8px rgba(45, 1, 36, 0.6), inset 4px 4px 16px rgba(255, 255, 255, 0.4), inset -4px -4px 12px rgba(45, 1, 36, 0.7);
}

#feedbackForm h1,
h2,
p {
  font-family: inherit;
  font-size: 1.2rem;
  line-height: 2rem;
}

#feedbackForm h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#feedbackForm h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

label {
  font-weight: 600;
  margin-bottom: 20px;
}

.text-input {
  background: #fff;
  width: 240px;
  height: 25px;
  margin: 5px 0 10px 0;
  border: 1px solid #fafafa;
  border-radius: 20px;
  padding: 20px 5px;
  font-weight: 550;
  color: #2d013f;
}

.fieldtext {
  color: #2d013f;
}

#textMsg {
  border: 1px solid #fafafa;
  border-radius: 5px;
  padding: 10px 5px;
  font-weight: 550;
}

/* Display error when input field validation fails */
.error-message {
  color: rgb(150, 2, 2);
  margin-top: 5px;
  font-size: 0.9rem;
  font-weight: 600;
}

.text-input,
#textMsg {
  transition: background-color 0.3s ease;
  border: 0.2px solid rgba(45, 1, 63, 0.365);
  box-shadow: inset 6px 6px 12px rgba(45, 1, 63, 0.753), inset -4px -4px 8px rgba(167, 7, 159, 0.2);
  border-radius: 10px;
  padding: 20px 5px;
  width: 245px;
}

/* Activated with a mouse or any mouse-emulating technology *
/* Activated with a keyboard or any keyboard-emulating technology */
.text-input:hover,
.text-input:focus,
#textMsg:hover,
#textMsg:focus {
  border: 2px ridge #2d013f;
  cursor: pointer;
}

/* Submit feedback button style */
#feedbackbtnSubmit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

/* Activated with a mouse or any mouse-emulating technology *
/* Activated with a keyboard or any keyboard-emulating technology */
.button:hover,
.button:focus {
  transform: scale(1.05);
  border: 2px solid #ffffff;
  cursor: pointer;
}

/* Modal style in Form */
.modal-content {
  background-color: #fff;
  transition: background-color 0.3s ease;
  margin: 50% auto;
  padding: 20px;
  border: 1px solid rgba(45, 1, 63, 1);
  width: 80%;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  padding: 20px 5px;
  border: 0.2px solid rgba(45, 1, 63, 0.365);
  box-shadow: inset 6px 6px 12px rgba(45, 1, 63, 0.753), inset -4px -4px 8px rgba(167, 7, 159, 0.2);
  cursor: pointer;
}

/* Activated with a mouse or any mouse-emulating technology *
/* Activated with a keyboard or any keyboard-emulating technology */
.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* 404 - NOT FOUND PAGE */
/* General body styling */
body.not-found-page {
  text-align: center;
  padding: 50px;
}

.not-found-container {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  border-style: ridge;
  border-color: #2d013f;
  border-width: 10px;
  border-radius: 20px;
  background: #f3cefa;
  box-shadow: 20px 20px 60px rgba(45, 1, 36, 0.3), 8px 8px 60px rgba(45, 1, 36, 0.3), inset 4px 4px 8px rgba(45, 1, 36, 0.6), inset 4px 4px 16px rgba(255, 255, 255, 0.4), inset -4px -4px 12px rgba(45, 1, 36, 0.7);
}

.not-found-container h1 {
  font-size: 1.5rem;
  color: #2d013f;
  line-height: 1.7rem;
}

.not-found-container p {
  margin: 20px 0;
  line-height: 1.6;
}

.not-found-container #thanks {
  margin: 20px 0 0;
}

.not-found-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.not-found-container a {
  color: #1b0125;
}

.not-found-container a:hover,
.not-found-container a:focus {
  color: #0000ff;
  cursor: pointer;
}

/* RESPONSIVENESS */
/* Media query: medium phones (270px and up) */
@media screen and (min-width: 250px) {
  .logo img {
    width: 50px;
    height: auto;
  }

  /* Result modal content */
  .modalResult-content {
    width: 60%;
    margin: 100% auto;
  }

  /* 404 NOT FOUND PAGE */
  body.not-found-page {
    padding: 10px;
    margin: 0 auto;
  }

  .not-found-container {
    width: auto;
  }

  .not-found-container p {
    font-size: small;
  }
}

/* Media query: medium phones (360px and up) */
@media screen and (min-width: 360px) {
  .logo img {
    width: 90px;
    height: auto;
    padding: 0;
  }

  body {
    padding-top: 100px;
  }

  /*FORM PAGE */
  /* Form container style */
  #formContainer {
    position: relative;
    width: 340px;
    height: auto;
    padding: 25px 30px;
  }

  /* Modal box width */
  .modal-content {
    width: 80%;
  }

  /* 404 NOT FOUND PAGE */
  body.not-found-page {
    padding: 10px;
    margin: 0 auto;
  }

  .not-found-container {
    max-width: 600px;
    margin-top: 130px;
  }

  .not-found-container p {
    font-size: medium;
  }
  footer {
    margin-top: 10px;
  }
}

/* Media query: tablet & desktop (600px and up) */
@media screen and (min-width: 600px) {
  /* FORM PAGE */
  #formContainer {
    margin-top: 40px;
  }


/* Media query: tablet & desktop (712px and up) */
@media screen and (min-width: 712px) {

  /* Top navigation bar styles */
  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
  }

  .logo img {
    flex-grow: 1;
    width: 50%;
    height: auto;
    padding-left: 15px;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    font-size: larger;
  }

  body {
    padding-top: 70px;
  }

  #headerSection {
    margin-bottom: 40px;
  }

  #head-container h1 {
    padding: 0 0 20px 0;
  }

  #p-head {
    font-size: large;
  }
  
  /*FORM PAGE */
  /* Modal box width */
  .modal-content {
    margin-top: 200px;
    width: 80%;
  }

  /* 404 NOT FOUND PAGE */

  body.not-found-page {
    padding: 10px;
    margin: 0 auto;
  }

  .not-found-container {
    max-width: 600px;
    }

  .not-found-container p {
    font-size: larger;
    font-weight: 500;
  }
}

/* Media query: tablet & desktop (1024px and up) */
@media screen and (min-width: 1024px) {
  .logo img {
    width: 60%;
    height: auto;
    padding-left: 15px;
  }

  /* Result modal content */
  .modalResult-content {
    width: 50%;
    margin: 65% auto;
  }

  /* FORM PAGE */
  /* Modal box width */
  #formBody {
    margin: 30px;
  }

  .modal-content {
    width: 30%;
  }

  /* 404 NOT FOUND PAGE */
  .not-found-container {
    max-width: 800px;
  }

  .navBar {
    height: 110px;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    font-size: larger;
  }

  #headerSection {
    margin-bottom: 40px;
  }

  #head-container h1 {
    padding: 0 0 10px 0;
  }

  /* 404 NOT FOUND PAGE */

  body.not-found-page {
    padding: 10px;
    margin: 0 auto;
  }

  .not-found-container {
    max-width: 800px;
  }

  .not-found-container p {
    line-height: 1.3rem;
  }
}

@media screen and (min-width: 1080px) {
  /* LANDING/GAME PAGE */
  /* Rmove scrollbar */
  body, html {
    max-width: 100%;
    overflow-y: hidden;
  }

  /* FORM PAGE */
  #formBody {
    margin: 60px;
  }

  /* LANDING/GAME PAGE */
  body {
    padding-top: 40px;
  }

  #navBar {
    padding: 0 20px 0;
  }

  #headerSection {
    margin-bottom: 0;
  }

  #head-container {
    max-width: 900px;
  }

  #p-head {
    max-width: 900px;
    font-size: 0.9rem;
  }

  #gameBoard {
    max-width: 350px;
  }

.modalResult-content {
  width: 50%;
}

  #footerSection {
    margin-top: 5px;
    font-size: 0.9rem;
  }

  #footerSection p {
    font-size: 0.9rem;
  }

}