/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Global styles - optimized for mobile */
/* Asterisk wildcard selector to override default styles added by the browser */
/* Amended from LoveRunning */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color:#2D013F;
}

/* General styles in INDEX and FORM */

body {
    background: linear-gradient(#6f3ff59d, #f3cefa);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 0px; 
    padding-bottom: 0px; 
}

.hidden-heading {
    display: none;
}

h1, h2, h3, h4, h5, h6, p {
    
    color: rgb(27, 1, 37);
    line-height: 1.5;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* General style for buttons */
/* must be placed here else the order */
/* of specificity will be incorrect */
.button {
    margin: 0 5px 0;
    background: rgba(45, 1, 63);
    color:#fff;
    padding: 10px 20px;
    border: 2px ridge #8b349c;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 2px #2D013F;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 0;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.05);
}




/* INDEX PAGE */
/* Header styles - INDEX */
#head-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 450px;
    margin-top: 16px;
    padding: 10px;
    margin: 5px 15px 0;
}

#head-container h1 { 
    font-size: inherit;
}

/* Style the header paragraph - INDEX */
#p-head {
    padding: 30px 10px; 
    margin: 30px 50px 20px;
    border-radius: 10px;
    background-color: rgba(243, 238, 243, 0.596); 
    box-shadow: 4px 4px 60px rgba(45, 1, 63, 0.685); 
    font-weight: 600;
}

/* Main Content - INDEX PAGE */
main {
    /* Ensures main content spans the full width */
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

/* 
oklart om denna gör vare sig till eller ifrå mtp att main har dessa värden? *
section {
   /* display: flex;
  /*  flex-direction: column;
  /*  align-items: center;
  /*  justify-content: center; *oklart om jag behöver denna, denna centrerar i sectionen, kanske en top.padding istället *
  /*  height: 100vh; *
}
*/



/* How to play button  */
/* Button specific style -must be placed here else */
/* the order of specificity will be incorrect */
#toggleButtonhowto {
    background:#fff;
    color:rgba(45, 1, 63, 1);
}

/* Initially hide the how to play container */
.hidden {
    display: none;
}

/* Instruction container */
#howtoplayContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    max-width: 90%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 4px 4px 10px 2px #2D013F;
    margin: 30px 0 15px;
    padding: 20px;
    font-size: 1rem;
}

/* Gameboard style */
#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2px; 
    /* Responsive width based on viewport width */
    width: 80vw; 
    max-width: 300px;
    /* Maintain square aspect ratio for the board */
    aspect-ratio: 1 / 1; 
    margin: 20px 0;
    
}

/*  Row Style */
/* Let the children participate in the grid layout - See README Issue-01 */
/* Due to the ARIA issue I encountered (see Gameboard grid comment in index). */
/* I had to find a way to display the grid. Ended in long learning session about */
/* attribute selectors and ARIA, this snippet is amended from */
/* https://www.w3schools.com/css/css_attribute_selectors.asp */

[role="row"] {
    display: contents; 
}

/* Button (grid-cell) styles */
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    aspect-ratio: 1 / 1; /* Maintain square aspect ratio for each cell */
    transition: background-color 0.3s ease;
    border: 0.2px solid rgba(45, 1, 63, 0.365);
    box-shadow: inset 6px 6px 12px rgba(45, 1, 63, 0.753), 
                inset -4px -4px 8px rgba(167, 7, 159, 0.2);
    border-radius: 10px;
    width: 100%; 
    /* Padding-top as percentage of the width to maintain square shape */
    padding-top: 100%; 
    /* To address the "Avoid large layout shifts" set fixed dimensions on buttons. Bug-03 */
    width: 100px; 
    height: 100px;
}

.cell:hover, .cell:focus {
    background-color: #fffb08; /* Hover effect */
}

/* Button specific style */
/* placed here else the order of specificity will be incorrect */

/* Reset button */
#toggleButtonreset {
    background:#fff;
    color:rgba(45, 1, 63, 1);
}

/* Feedback button */
#toggleButtonfeedb {
    background: #1111fa;
    color:#fff;
}

/* FORM PAGE */
#formBody {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    }


/* Form container style */
#formContainer {
    position: relative;
    width: 360px;
    height: auto;
    padding: 25px 30px;
    border-radius: 20px;
    background: #2d013f0a;
    box-shadow: 20px 20px 60px rgba(45,1,36,0.30),
    8px 8px 60px rgba(45,1,36,0.30),
    inset 4px 4px 8px rgba(45,1,36,0.60),
    inset 4px 4px 16px rgba(255,255,255,0.4),
    inset -4px -4px 12px rgba(45,1,36,0.7);
}


/* To address the "Avoid large layout shifts" set fixed dimensions on buttons. Bug-03 */
#feedbackForm {
    min-height: 300px; 
}

#feedbackForm > h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#feedbackForm > h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-bottom: 30px;
}

label {
    font-weight: 600;
    margin-bottom: 20px;
   }

.text-input {
    background: #fbfafc;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 20px;
    padding: 20px 5px;
    font-weight: 550;
}

#textMsg {
    border: 1px solid #fafafa;
    border-radius: 5px;
    padding: 10px 5px;
    font-weight: 550;
}


.text-input,
#textMsg {
    transition: background-color 0.3s ease;
    border: 0.2px solid rgba(45, 1, 63, 0.365);
    box-shadow: inset 6px 6px 12px rgba(45, 1, 63, 0.753), 
                inset -4px -4px 8px rgba(167, 7, 159, 0.2);
    border-radius: 10px;
    padding: 20px 5px;
}

.text-input:hover,
#textMsg:hover  {
    background-color: #fffb08; /* Hover effect */
    cursor: pointer;
}

.text-input:focus,
#textMsg:focus  {
    background-color: #fffb08; /* Hover effect */
    cursor: pointer;
}

#feedbackbtnSubmit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 10px;
}

.button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Modal style in Form */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:  rgba(45, 1, 63, 0.85);
}

.modal-content {
    background-color: #fbfafc;
    transition: background-color 0.3s ease;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid rgba(45, 1, 63, 1);
    width: 80%;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
    padding: 20px 5px;
    border: 0.2px solid rgba(45, 1, 63, 0.365);
    box-shadow: inset 6px 6px 12px rgba(45, 1, 63, 0.753), 
                inset -4px -4px 8px rgba(167, 7, 159, 0.2);
     cursor: pointer;
}

.close-button {
    color: rgba(45, 1, 63, 1);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/* FOOTER STYLES  */
footer {
    width: 100%; 
    text-align: center; 
    margin-top: 80px;
    color: #2D013F;
}


/* RESPONSIVENESS */

/* Media query: medium phones (360px and up) */
@media screen and (min-width: 360px) {
    /*FORM PAGE */
    /* Modal box width */
    .modal-content {
        width: 80%;
    }
}

/* Media query: large phones (428px and up) */
@media screen and (min-width: 428px) {
     /*FORM PAGE */
    /* Modal box width */
    .modal-content {
        width: 70%;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /*FORM PAGE */
    /* Modal box width */
    .modal-content {
        width: 50%;
    }
}

/* Large devices (laptops and desktops, 1024px and up) */
@media screen and (min-width: 1024px) {
     /*FORM PAGE */
    /* Modal box width */
    .modal-content {
        width: 30%;
    }
}

/* Large devices (laptops and desktops, 1440px and up) */
@media screen and (min-width: 1440px) {
}